.add-fasal {
  padding: 24px;

  &__area {
    display: flex;
    flex-wrap: wrap;
    // margin-top: 8px;
  }

  &__capacity {
    flex: 1;
    margin-right: 20px;
  }

  &__date {
    flex: 1;

    & .ant-picker {
      width: 100%;
    }
  }

  &__button {
    margin-top: 24px;

    & .ant-btn {
      width: 100%;
    }
  }
}

.label {
  color: #41596f;
  margin: 8px 0px 0px;
  font-size: 14px;
}

@media (min-width: 1024px) {
  .add-fasal {
    padding: 120px 20%;
  }
}
